@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    font-size: small;
    
}

.w-100-height{
    height: 120vh;
    width: 100%;
}