@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    font-size: small;
    
}

.w-100-height{
    height: 100vh;
    width: 100%;
}
.carousel-item{
    min-height: 300px;
}
.carousel-caption{
    text-align: left;
    margin-bottom: 200px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 60px;
    text-align: left;
    color: aliceblue;
}
.carousel-caption p{
    width: 60%;
    font-size: 16px;
    line-height: 1.9;
    text-align: left;
    color: aliceblue;
}

/* footer */

.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
}

.containerfooter {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-links {
    flex: 1;
    text-align: center;
}

.footer-links img {
    width: 100px; 
}

ul {
    list-style: none; 
}

ul li {
    margin-bottom: 10px;
}

.social-link a {
    text-decoration: none; 
    margin: 0 10px; 
}

.social-link a i {
    color: #fff;
}

.footer-links ul li a {
    color: #CE95D8; 
    text-decoration: none; 
}

.footer-links ul li a:hover {
    color: #fff; 
}

.footer h4 {
    border-bottom: 2px solid #CE95D8;
    padding-bottom: 5px;
}
.imageinicio{
    background-image: url(../img/back.jpg);
}


.conta{background-image: url(../img/Contac.png);}
.contenedor{
    width: 100%;
    font-size: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'enca enca'
    'formulariou cont2 '
    'formulariou cont3 '
    'formulariou cont4 '
    'mapa mapa'
    'pdp pdp';
}

.contenedor>div, 
.contenedor .enca,
.contenedor .cont1,
.contenedor .cont2,
.contenedor .cont3,
.contenedor .cont4,
.contenedor .formulariou,
.contenedor .mapa
.contenedor .pdp{
    background-color: rgba(97, 92, 92, 0.2);
    color: white;
    border: 2px solid orchid;
    box-shadow: 0 0 3px orchid, 0 0 6px orchid;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .cont2,
.contenedor .cont3,
.contenedor .cont4{
width: auto;
}

.formu{border: 5px dashed black;}

.boton{
    background-color: rgb(28, 31, 31);
    padding: 2%;
    border-radius: 7px;
    border: transparent;
}

.boton:hover{
    box-shadow: 0 0 3px orchid, 0 0 6px orchid;
    background-color: transparent;
    color: #ffffff;
}


#nombre, #telefono, #correo, #msj{
    border: 7px ridge black;
    margin: 2%;
    width: 700px;

}


.enca { grid-area: header; }
.cont2 { grid-area: cont2; }
.cont3 { grid-area: cont3; }
.cont4 { grid-area: cont4; }
.formulariou { 
    grid-area: formulariou; 
    text-align: center;
    width: 800px;
}
.mapa{ grid-area: mapa;}
.pdp{ grid-area: footer; }


/* que hacemos */
.container3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/us2.jpg);
    
}

 .row3{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20%;
} 
.col3{
    flex-basis: 50%;
    text-align: justify;
}
#ttl{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}
#txt{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
}
.btn3{
    width: 180px;
    color: #161515;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}


.col3.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 60px;
}

.card3 {
    width: calc(50% - 10px); 
    height: 230px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 20px; 
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

#ttl5,#txt5{
    font-size: medium;
    color: #fff;
}
.card1{
    background-image: url(../img/inova.png);
}
.card2{
    background-image: url(../img/calidad.png);
}
.card4{
    background-image: url(../img/cliente.png);
}
.card5{
    background-image: url(../img/etica.png);
}
.card3:hover{
    transform: translateY(-10px);
}
.card3 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    transition: opacity 0.5s;
}

.card3:hover .overlay {
    display: flex; 
}


.project{
    background-image: url(../img/fndproyecto.jpg);
    background-size: auto;
    
}
.image-overlay-3 {
    position: relative;
}

.overlay-3 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay-2 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-overlay-2 {
    position: relative;
}
.overlay-3 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}


.hidden-checkbox {
    display: none;
}

/* Ocultar las vacantes ocultas inicialmente */
.vacantes-ocultas {
    display: none;
}

/* Mostrar las vacantes ocultas cuando el checkbox está marcado */
.hidden-checkbox:checked + .vacantes-ocultas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos para la flecha */
.rect.flecha {
    cursor: pointer;
}
/* Ajusta el tamaño máximo de las imágenes dentro de los rect */
.rect img {
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
}

/* vacante */
:root {
    --fondo-carrusel: #050505; /* Define una variable para el color de fondo */
  }
.carrusel-V{
    background: #3e3b3f;
    background: linear-gradient(to right, var(--fondo-carrusel), #59525c);
    align-items: center;
}
.carrusel-V p{
    letter-spacing: 4px;
}
.carrusel-V h1{
    letter-spacing: 2px;
    font-weight: bold;
}
button.btn-light{
    border-radius: 30px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
}

.seccion-V{
    padding: 20vmin 0;

}

.seccion-V .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 90%;
    border-radius: 0.2em;
}
.seccion-V .row .col-md-6:last-child{
    position: relative;
}
.seccion-V .row .col-md-6 .panel{
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.4);
}
.cover{
    width: 100%;
    height: 55vmin;
    background: url('../img/panel.jpg');
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
    color: #f7f0f0;

}
.cover .contenido{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.rect{
    position: relative;
    z-index: 1;
    background: white;
   
    margin: 1rem;
    box-shadow: 1px 2px 50px 0px rgba(0,0,0,0.4);

    margin-top: -15vmin;
    border-radius: 8px;
}

/*formulario*/
.split-screen{
    display: flex;
    margin-top: 100px;
    padding: 100px;
}
.left{
    height: 200px;
}
.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    /* background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5),url('../img/us2.jpg')); */
    background-image: url(../img/us2.jpg);
    background-size: cover;
    flex: 0.6;
}
.left .copy{
    color: #f7f0f0;
    text-align: center;
}
.left p{
    font-weight: 400;
}

.right .copy{
    color: #0e0d0d;
    text-align: left;
}
.right .copy p{
    margin: 1.5em 0;
    font-size: medium;
}
.right {
    flex: 2;
}
form input[type="text"]
{
    display:block; 
    width: 100%;
    padding: 1em;
    margin-bottom: auto;
    font-size: medium;
} 
label{
    display: block;
}
.btn-primary{
    display: block;
    width: 100%;
}
  
  /* Estilos para los botones */
  .btn-primary {
    background-color: #8E44AD; /* Color lila */
    border: 1px solid #8E44AD; /* Color lila */
    border-radius: 3px;
    color: #FFFFFF;
  }
  
  .btn-primary:hover {
    background-color: #000000; /* Color negro */
    border: 1px solid #000000; /* Color negro */
  }
  .left, .right{
    display: flex;
    height: auto;
  }
  /* Estilos para el formulario en general */
  form {
    max-width: 900px; 
  }
.right p{
    font-size: 20px;
    letter-spacing: 2px;
        background-image: linear-gradient(to right, #302d2d 50%, transparent 50%);
        background-size: 50% 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        padding-bottom: 5px;

}  
 
.right h3{
    text-align: center;
    padding-bottom: 20px;
    border-bottom:5px solid #78407a;

    
}